* {
	padding: 0;
	margin: 0;
}

#instaSlide {
	width: 759px;
	height: 400px;
	background: #eee;
	margin: 50px auto;
	padding: 50px 0;
}

#instaSlide .wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

#instaSlide .box-wrap {
	font-size: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: .3s linear;
}

#instaSlide .box {
	display: inline-block;
	box-sizing: border-box;
	border:2px solid #fff;
}

#instaSlide .box.active {
	border-color: #ccc;
}

#instaSlide .box img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	transition: .2s;
}

#instaSlide .box:active img {
	transform: scale(.95);
}